<p id="notice"><%= notice %></p>

<!-- Blog Entries Column -->
  <div class="col-md-8">
　　　<h1 class="my-4">Photos</h1>

        <!-- Blog Post -->
      <% @photos.each do |photo| %>
        <div class="card mb-4">
            <p><%= image_tag photo.image.to_s %></p>
            <p><%= photo.caption %></p>
        </div>
      <% end %>

          <div class="card-footer text-muted">
            <% @photos.each do |photo| %>
                <%= link_to 'Edit', edit_photo_path(photo) %>
                <%= link_to 'Show', photo %>
                <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



<br>

<%= link_to 'New Photo', new_photo_path %>
