<p id="notice"><%= notice %></p>

<!-- Blog Entries Column -->
  <div class="col-md-8">
　　　<h1 class="my-4">Photos</h1>

        <!-- Blog Post -->
        <div class="card mb-4">
          <% @photos.each do |photo| %>
            <li><%= image_tag photo.image.to_s %></li>
          <% end %>

          <div class="card-body">
            <h2 class="card-title">caption</h2>
            <% @photos.each do |photo| %>
                <li class="col-md-2"><%= photo.caption %></li>
                <% end %>
          </div>
          <div class="card-footer text-muted">
            <% @photos.each do |photo| %>
                <%= link_to 'Edit', edit_photo_path(photo) %>
                <%= link_to 'Show', photo %>
                <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<table>
  <div class="container1">
  <thead>
    <ul class="row">
      <li class="col-md-8">Image</li>
      <li class="col-md-2">Caption</li>
      <li class="col-md-2">action<th colspan="3"></li>
    </ul>
  </thead>
  </div>

  <div class="container1">
  <tbody>
    <ul class="row">
      <% @photos.each do |photo| %>
          <li class="col-md-8"><%= image_tag photo.image.to_s %></li>
          <li class="col-md-2"><%= photo.caption %></li>
          <li class="col-md-2"><%= link_to 'Show', photo %>
          <%= link_to 'Edit', edit_photo_path(photo) %>
          <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
  </tbody>
  </div>

</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
